!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title=t('application_name')
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "//fonts.googleapis.com/css?family=Open+Sans:400,700", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .header
        .visitor_actions=render(partial: 'visitor_actions/actions')
        .logo
          =content_tag(:span, '', class: 'fa fa-life-ring')
          .description="#{t('application_name')} - #{t('application_description')}"
      #project_detail
      =yield

